<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhJR4xMtw72nDaVtDN4E1zVL6jQkGs0_o</string>
	<key>GCM_SENDER_ID</key>
	<string>471449997339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>link.ignotus.example.reservation</string>
	<key>PROJECT_ID</key>
	<string>tst-reservation</string>
	<key>STORAGE_BUCKET</key>
	<string>tst-reservation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471449997339:ios:4b65bf3e39e40b7acea8be</string>
</dict>
</plist>